#content {
    width: $per-10;
    height: $mp-x;
    display: inline-flex;
    font-family: $font-Questrial-Regular;
    .content-left {
        width: $per-6;
        background-image: url('https://user-images.githubusercontent.com/56218293/112606779-c1665300-8e18-11eb-8bf3-e904e824097b.jpg');
    }
    .content-right {
        width: $per-4;
        background-color: nth($dark, 2);
        color: white;
        .form {
            margin: $size-o $size-u;
            height: $mp-w + $mp-h;
            .form-logo {
                height: $mp-k + $mp-e;
                font-size: $size-nn;
                text-align: right;
                display: flex;
                justify-content: flex-end;
                .form-logo-first{
                    color: nth($fontColor, 3);
                }
                .form-logo-second{
                    font-weight: bold;
                    padding-left: $mp-e;
                }
            }
        }
    }
}