@font-face {
    font-family: NotoSans-Bold;
    src: url('../scss/fonts/ttf/NotoSans-Bold.ttf')
    format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: NotoSans-BoldItalic;
    src: url('../scss/fonts/ttf/NotoSans-BoldItalic.ttf')
    format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: NotoSans-Italic;
    src: url('../scss/fonts/ttf/NotoSans-Italic.ttf')
    format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: NotoSans-Regular;
    src: url('../scss/fonts/ttf/NotoSans-Regular.ttf')
    format('truetype');
    font-weight: normal;
    font-style: normal;
}