@media (min-width: $q-xl){
    #content {
        display: flex;
        margin-right: auto;
        margin-left: auto;
    }
    /*Data-user*/
    .component-profile{
        width: $q-l + $mp-q + $mp-d;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: $q-l + $size-a) and (max-width: $q-xl - $size-a){
    #content {
        width: $q-l;
        display: flex;
        margin-right: auto;
        margin-left: auto;
        margin-top: $per-1;
        .content-left {
            width: $per-5;
        }
        .content-right {
            width: $per-5;
        }
    }
    /*Data-user*/
    .component-profile{
        .component-header-user{
           width: $mp-z;
        }
    }
}
@media all and (min-width: $q-m + $size-a) and (max-width: $q-l) {
    #content {
        width: $q-m + $size-a;
        display: flex;
        margin-right: auto;
        margin-left: auto;
        margin-top: $per-1;
        .content-left {
            width: $per-5;
        }
        .content-right {
            width: $per-5;
        }
    }
    /*Data-user*/
    .component-profile{
        .component-header-user{
           width: $mp-z - ($mp-q);
        }
        .data-user{
            width: $mp-z - ($mp-p + $mp-b);
            .form-update-data{
                width: $per-5;
            }
            .form-update-payment{
                margin-left: $mp-h;
                width: $per-5;
            }
        }
    }
}

@media (min-width: $q-s)  and (max-width: $q-m) {
    #content {
        width: auto;
        display: flex;
        margin-top: $per-1;
        .content-left {
            width: $per-0;
        }
        .content-right {
            width: $img-xxll;
            margin-right: auto;
            margin-left: auto;
        }
    }
    /*Data-user*/
    .component-profile{
        width: 512px;
        margin-left: auto;
        margin-right: auto;
        .component-header-user{
           display: table-cell;
           text-align: right;
            .component-header-menu{
                .component-header-menu-ul{
                    top: $mp-nn;
                    position: absolute;
                    left: $mp-k;
                }
            }
        }
        .data-user{
            .form-update-data{
                width: $per-4;
                .form-data-content{
                    left: $per-1 / 2;
                }
            }
            .form-update-payment{
                position: absolute;
                    top: $mp-v + $mp-i;
                .form-payment-content{
                    .form-update-payment-button{
                        bottom: $mg-60;
                    }
                }
            }
        }
    }
}