.data-user{
    color: white;
    display: flex;
    justify-content: space-between;
    width: $q-l;
    height: $img-xxxl + $mp-g;
    margin-left: auto;
    margin-right: auto;
    margin-top: $size-u;
    position: relative;
    .form-update-data{
        background: adjust-color(nth($formulary, 3), $alpha: -.6);
        width: $per-5;
        border-radius: $mp-e;
        .form-data-content{
            width: $per-3;
            position: absolute;
            left: $per-1;
            top: $per-1 / 2;
            display: grid;
            .form-data-content-title{
                font-size: $mp-h + $mp-a;
                margin-bottom: $mp-i + $mp-c;
            }
            .form-update-data-input{
                outline: none;
                @include input-security($per-10);
            }
            .country-city-cp{
                display: flex;
                .country-city-cp-style{
                    .form-update-data-input{
                        width: $per-9;
                    }
                }
                margin-bottom: $mp-h;
            }
            .form-update-data-button{
                color: nth($fontColor, 1);
                @include principal-button(nth($blue,1), nth($blue,2),nth($blue,3));
            }
        }
    }
    .form-update-payment{
        background: adjust-color(nth($formulary, 2), $alpha: -0.3);
        width: $per-4;
        height: $mp-t - $mp-h;
        border-radius: $mp-e;
        .form-payment-content{
            width: $per-8;
            margin-left: auto;
            margin-right: auto;
            margin-top: $mp-i;
            font-size: $mp-g;
            .form-update-payment-title{
                top: $mp-c;
                .form-payment-content-title{
                    font-size: $mp-h + $mp-a;
                }
                .form-update-payment-img{
                    background-image: url('https://user-images.githubusercontent.com/56218293/112899721-cd853580-90e2-11eb-811c-40df9729b4ea.png');
                    width: $mp-p + $mp-g + $size-a;
                    height: $mp-l - $size-a;
                    background-repeat: no-repeat;
                    background-size: contain;
                    position: absolute;
                    right: $mp-k + $size-b;
                    top: $mp-s - $mp-b;
                }
            }
            .principal-data{
                width: $per-10;
                margin-top: $mp-i + $size-a;
                .form-update-payment-label{
                    margin-top: $size-o;
                }
                .form-update-payment-input{
                    @include input-security($per-10);
                }
            }
            .security{
                display: flex;
                .security-date{
                    .form-update-security-input{
                        @include input-security($per-8);
                    }
                }
                .security-code{
                    .form-update-security-input{
                        @include input-security($per-10);
                    }
                }
            }
            .form-update-payment-button{
                bottom: $mp-r - $mp-c;
                position: absolute;
                right: $mp-nn + $size-a;
                color: nth($fontColor, 1);
                @include principal-button(nth($blue,1), nth($blue,2),nth($blue,3));
            }
        }
        
    }
}