@mixin principal-button($firstColor, $secondColor, $thirdColor) {
    background: linear-gradient(to bottom, $firstColor 5%, $thirdColor 100%);
    background-color: $firstColor;
    border-radius: $size-b;
    border: $size-aa solid $secondColor;
    display: inline-block;
    cursor: pointer;
    font-size: $size-g;
    font-weight: bold;
    padding: $size-b $mp-f;
    text-decoration: none;
    margin: $mp-e;
}

@mixin principal-login-button($firstColor, $secondColor, $thirdColor) {
    background: linear-gradient(to bottom, $firstColor 5%, $thirdColor 100%);
    background-color: $firstColor;
    border-radius: $size-d;
    border: $size-0 solid $secondColor;
    display: inline-block;
    cursor: pointer;
    font-size: $size-i;
    font-weight: bold;
    padding: $size-a $mp-e;
    text-decoration: none;
    width: $per-10;
    text-align: center;
    height: $mp-k;
    padding-top: $mp-e;
}

@mixin alternative-button($firstColor, $secondColor) {
    border-radius: $size-a;
    border: $size-0 solid $secondColor;
    display: inline-block;
    cursor: pointer;
    font-size: $size-g;
    font-weight: bold;
    padding: $size-b $mp-f;
    text-decoration: none;
    margin: $mp-e;
}

@mixin alternative-button-social-network($firstColor, $secondColor) {
    border-radius: $size-c;
    border: $size-a solid $secondColor;
    display: inline-block;
    cursor: pointer;
    font-size: $size-i;
    font-weight: bold;
    padding: $size-b $mp-f;
    text-decoration: none;
    margin: $mp-h;
    width: $mp-p;
    height: $mp-l;
    text-align: center;
}

@mixin input($bk-color, $text-color){
    width: $per-10;
    height: $mp-k;
    background-color: $bk-color;
    color: $text-color;
    border-radius: $size-c;
    border: $size-a solid $bk-color;
    font-size: $size-j;
}


/*
.principal-buton{
    @include principal-button(nth($btnBlue,1), nth($btnBlue,2), nth($btnBlue,3));
}
*/