.contenedorHome {
  width: 100vw;
  height: auto;
  background-color: #221c1c;
  display: flex;
  flex-direction: column; }

#myVideo {
  all: unset;
  top: 5em;
  left: 0;
  width: 100vw;
  height: 82vh;
  object-fit: cover;
  z-index: 0; }

.content {
  z-index: 1;
  margin-top: -7em;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  color: #f1f1f1;
  width: 100%;
  padding: 20px; }

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  border-radius: 0.5em;
  background: #f3f0f0;
  color: #0a0a0a;
  cursor: pointer;
  margin: 0.5em; }

#myBtn:hover {
  background: #ddd;
  color: black; }

.h2 {
  color: #aaa9a3;
  margin: 1em;
  height: 1em; }

.ultimas {
  margin-left: 1.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start; }

.separador {
  border: 0.5px solid #3a3838;
  width: 70em;
  margin-left: 6em; }

.populares {
  margin-left: 1.5em;
  height: 8em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  overflow-x: auto; }

.recomendadas {
  margin-left: 1.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  overflow-x: auto; }
