.contenedorHome {
  width: 100vw;
  height: auto;
  background-color: #221c1c;
  display: flex;
  flex-direction: column; }

#myVideo {
  top: 5em;
  left: 0;
  width: 100vw;
  height: 70vh;
  object-fit: cover; }

.content {
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px; }

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  margin: 0.5em; }

#myBtn:hover {
  background: #ddd;
  color: black; }

.h2 {
  color: #aaa9a3;
  margin: 1em; }

.ultimas {
  margin-left: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  overflow-x: auto; }

.separador {
  border: 0.5px solid #3a3838;
  width: 70em;
  margin: 2em;
  margin-left: 6em; }

.populares {
  margin-left: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  overflow-x: auto; }

.recomendadas {
  margin-left: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  overflow-x: auto; }

.films-container .content-carousel {
  width: 100%;
  padding: 1.25em 0;
  /*hiden-> todo lo que sobresalga quiero que este 100% oculto*/
  overflow: hidden;
  /* overflow-x: scroll; */
  /*scroll con animacion*/
  scroll-behavior: smooth; }

.films-container .content-carousel .carousel {
  display: flex;
  flex-wrap: nowrap; }

.films-container .content-carousel .carousel .film {
  /* min-width: 20%; */
  min-width: 25%;
  transition: .3s ease all;
  box-shadow: 5px 5px 10px var(--transparent3); }

.films-container .content-carousel .carousel .film.hover {
  transform: scale(1.2);
  transform-origin: center; }

.films-container .content-carousel .carousel .film img {
  /* width: 100%; */
  vertical-align: top; }

.principal-movie .button {
  background: var(--transparent5);
  border: none;
  border-radius: 0.31em;
  /* padding: 0.93em 1.87em; */
  padding: 0.43em 1.8em;
  color: var(--white);
  /* margin-left: 1.25em; */
  margin-left: 0px;
  cursor: pointer;
  transition: 3s ease all;
  /* font-size: 1.12em; */
  font-size: 1em; }

.principal-movie .button:hover {
  background: var(--white);
  color: var(--black); }

.principal-movie .button i {
  margin-right: 1.25em; }

/*content-title-controls*/
.content-title-controls {
  /* display: flex; */
  justify-content: space-between;
  align-items: end; }

.content-title-controls h3 {
  color: var(--white);
  font-size: 1.87em; }

.content-title-controls .indicators button {
  background: white;
  height: 0.18em;
  width: 0.62em;
  cursor: pointer;
  border: none;
  margin-right: 0.12em; }

.content-title-controls .indicators button:hover,
.content-title-controls .indicators button.active {
  background: var(--rojo); }
