/*BASE*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(react-responsive-carousel/lib/styles/carousel.min.css);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: NotoSans-Bold;
  src: url("../scss/fonts/ttf/NotoSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: NotoSans-BoldItalic;
  src: url("../scss/fonts/ttf/NotoSans-BoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: NotoSans-Italic;
  src: url("../scss/fonts/ttf/NotoSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: Questrial-Regular;
  src: url("../scss/fonts/ttf/Questrial-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/*UTILITIES*/
/*Fonts*/
/*Colors*/
/**/
/*Gama de colores por definir - Yellows and Blues*/
/*Botones*/
/*Sizes*/
/*Margin and Padding*/
/*Media-query*/
/*Porcentjes*/
/*Imagenes-Sizes*/
/*--------------------------------------------------*/
/*For Grid*/
#header.cell-1 > div {
  width: 100%; }

#footer.cell-1 > div {
  width: 100%; }

#header.cell-2 > div {
  width: 50%; }

#footer.cell-2 > div {
  width: 50%; }

#header.cell-3 > div {
  width: 33.33333%; }

#footer.cell-3 > div {
  width: 33.33333%; }

#header.cell-4 > div {
  width: 25%; }

#footer.cell-4 > div {
  width: 25%; }

#header.cell-5 > div {
  width: 20%; }

#footer.cell-5 > div {
  width: 20%; }

#header.cell-6 > div {
  width: 16.66667%; }

#footer.cell-6 > div {
  width: 16.66667%; }

/*--------------------------------------------------*/
/*Funciones*/
/*
Se utiliza

  .c-button {
  color: #FF0000;
  border: getBorderSize(2) solid #00FF00;
}

se transforma en

.c-button {
  color: #FF0000;
  border: 20px solid #00FF00;
}
*/
/*
.principal-buton{
    @include principal-button(nth($btnBlue,1), nth($btnBlue,2), nth($btnBlue,3));
}
*/
/*COMPONENTS*/
.vistaHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  height: 3em;
  border: 0.01em solid #4d4949;
  color: white;
  background-color: #1E2126;
  align-items: center; }
  .vistaHeader .logo {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    font-size: 2em;
    color: #0ab8e4;
    margin-left: 2em; }
  .vistaHeader .nav {
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: -0.5em;
    justify-content: space-evenly;
    color: #aaa9a3; }
    .vistaHeader .nav .search {
      all: unset;
      width: 8em;
      height: 1em;
      transition: 0.8s;
      border-radius: 2em; }
    .vistaHeader .nav .search:hover {
      all: unset;
      transition: 0.8s;
      color: #bdbbaf;
      width: 8em;
      height: 1em;
      border-radius: 2em; }
    .vistaHeader .nav .inicio {
      font-size: 1em;
      color: #aaa9a3;
      transition: 0.8s; }
    .vistaHeader .nav .inicio:hover {
      font-size: 1.2em;
      transition: 0.8s;
      color: #1698d4; }
    .vistaHeader .nav .Peliculas {
      font-size: 1em;
      color: #aaa9a3;
      transition: 0.8s; }
    .vistaHeader .nav .Peliculas:hover {
      font-size: 1.2em;
      transition: 0.8s;
      color: #1698d4; }
    .vistaHeader .nav .Series {
      font-size: 1em;
      color: #aaa9a3;
      transition: 0.8s; }
    .vistaHeader .nav .Series:hover {
      font-size: 1.2em;
      transition: 0.8s;
      color: #1698d4; }
    .vistaHeader .nav .userName {
      font-size: 1em;
      color: #aaa9a3;
      transition: 0.8s; }
    .vistaHeader .nav .userName:hover {
      font-size: 1.2em;
      transition: 0.8s;
      color: #1698d4; }

.form-content {
  height: 80%;
  position: relative; }
  .form-content .form-content-title {
    font-size: 32px;
    margin-top: 40px;
    letter-spacing: 4px; }
  .form-content .form-content-inputs {
    height: 256px;
    margin: 48px 0px 48px 0px; }
    .form-content .form-content-inputs .form-label {
      letter-spacing: 2px; }
    .form-content .form-content-inputs .form-password {
      margin-top: 48px;
      display: flex;
      justify-content: space-between; }
    .form-content .form-content-inputs .form-input {
      width: 100%;
      height: 40px;
      background-color: #1E2126;
      color: #A9A9A9;
      border-radius: 4px;
      border: 1px solid #1E2126;
      font-size: 18px;
      outline: none;
      margin-top: 10px; }
    .form-content .form-content-inputs .form-input-password-eye {
      position: absolute;
      right: 24px;
      bottom: 322px;
      color: #A9A9A9;
      cursor: pointer; }
    .form-content .form-content-inputs .messaje {
      color: #FF0000; }
    .form-content .form-content-inputs .form-label-error {
      color: #A9A9A9;
      cursor: pointer; }
    .form-content .form-content-inputs .form-button {
      color: #ffffff;
      background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
      background-color: #3d94f6;
      border-radius: 6px;
      border: 0px solid #337fed;
      display: inline-block;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
      padding: 1px 10px;
      text-decoration: none;
      width: 100%;
      text-align: center;
      height: 34px;
      padding-top: 10px;
      margin-top: 48px;
      letter-spacing: 2px; }
  .form-content .form-content-options {
    margin-top: 80px;
    letter-spacing: 2px; }
    .form-content .form-content-options .form-content-options-label {
      margin-bottom: 40px;
      text-align: center;
      color: #A9A9A9; }
    .form-content .form-content-options .buttons-login {
      display: flex;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      width: 80%; }
      .form-content .form-content-options .buttons-login .button-login {
        justify-content: center;
        align-items: center;
        color: #DCDCDC;
        border-radius: 4px;
        border: 1px solid #C0C0C0;
        display: inline-block;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        padding: 2px 12px;
        text-decoration: none;
        margin: 20px;
        width: 160px;
        height: 48px;
        text-align: center; }
        .form-content .form-content-options .buttons-login .button-login .button-login-letter {
          padding-left: 16px; }
      .form-content .form-content-options .buttons-login .button-login-google {
        align-items: center;
        display: flex; }
      .form-content .form-content-options .buttons-login .button-login-facebook {
        align-items: center;
        display: flex; }
    .form-content .form-content-options .form-content-register {
      margin-top: 40px;
      display: flex;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      width: 440px; }
      .form-content .form-content-options .form-content-register .register-question {
        color: #A9A9A9; }
      .form-content .form-content-options .form-content-register .register {
        padding-left: 10px; }
        .form-content .form-content-options .form-content-register .register .register-link {
          text-decoration: none;
          color: white;
          cursor: pointer; }

.form-content-register .form-content-title-register {
  margin-top: -52px;
  margin-bottom: 24px; }

.form-content-register .form-content-inputs-register {
  margin: 0px;
  height: auto; }
  .form-content-register .form-content-inputs-register .form-label-register {
    margin-top: 10px; }
  .form-content-register .form-content-inputs-register .city {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .form-content-register .form-content-inputs-register .city .city-options {
      width: 30%; }
  .form-content-register .form-content-inputs-register .form-password-register {
    margin-top: 0px; }
  .form-content-register .form-content-inputs-register .form-button-register {
    margin-top: 32px; }

.form-content-register .form-content-options-register {
  margin-top: 20px; }
  .form-content-register .form-content-options-register .form-content-options-label-register {
    margin-bottom: 0px; }
  .form-content-register .form-content-options-register .form-content-register-change {
    margin-top: 6px;
    width: 336px; }

.movie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.movieStyelOne {
  display: flex;
  margin: 0.5em;
  color: #e6dbdb;
  width: 15em;
  height: 8em;
  border: 0.1em solid blueviolet;
  border-radius: 0em;
  transition: 0.5s; }

.movieStyelDos {
  display: flex;
  margin: 0.8em;
  color: #e6dbdb;
  width: 15em;
  height: 25em;
  border: 0.1em solid blueviolet;
  border-radius: 0em;
  transition: 0.5s; }

.vistaFooter {
  color: #A4A4A4;
  width: 1392px;
  font-family: "Questrial-Regular"; }
  .vistaFooter .links-block {
    display: flex;
    align-content: space-between;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }

/*VIEWS*/
body {
  background-color: rgba(22, 25, 28, 0.97); }

#content {
  width: 1440px;
  height: 800px;
  display: inline-flex;
  font-family: "Questrial-Regular"; }
  #content .content-left {
    width: 60%;
    background-image: url("https://user-images.githubusercontent.com/56218293/112606779-c1665300-8e18-11eb-8bf3-e904e824097b.jpg"); }
  #content .content-right {
    width: 40%;
    background-color: #16191C;
    color: white; }
    #content .content-right .form {
      margin: 30px 50px;
      height: 720px; }
      #content .content-right .form .form-logo {
        height: 50px;
        font-size: 28px;
        text-align: right;
        display: flex;
        justify-content: flex-end; }
        #content .content-right .form .form-logo .form-logo-first {
          color: #585858; }
        #content .content-right .form .form-logo .form-logo-second {
          font-weight: bold;
          padding-left: 10px; }

.contenedorHome {
  width: 100vw;
  height: auto;
  background-color: #1E2126;
  display: flex;
  flex-direction: column; }
  .contenedorHome #myVideo {
    all: unset;
    top: 5em;
    left: 0;
    height: 82vh;
    object-fit: cover;
    z-index: 0; }

.content {
  z-index: 1;
  margin-top: -7em;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  color: #f1f1f1;
  padding: 20px; }

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  border-radius: 0.5em;
  background: #f3f0f0;
  color: #1e62d0;
  cursor: pointer;
  margin: 0.5em; }

#myBtn:hover {
  background: #ddd;
  color: black; }

.tituloDelGenero {
  color: #aaa9a3;
  margin: 1em;
  height: 1em; }

.ultimas {
  margin-left: 1.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start; }

.separador {
  border: 0.5px solid #3a3838;
  width: 70em;
  margin-left: 6em; }

.populares {
  margin-left: 1.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  overflow-x: auto; }

.recomendadas {
  margin-left: 1.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  overflow-x: auto; }

.destacado {
  display: flex;
  flex-direction: row; }

.movieProfileContainer {
  width: 100vw;
  height: 100vh;
  background-color: #1E2126; }
  .movieProfileContainer .MoviePanel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-evenly; }
    .movieProfileContainer .MoviePanel .dataMovie {
      width: 55vw;
      height: 80vh; }
      .movieProfileContainer .MoviePanel .dataMovie .movieTtile {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        color: #e6dede;
        margin: 3em; }
        .movieProfileContainer .MoviePanel .dataMovie .movieTtile .titleSize {
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
          font-size: 3em; }
      .movieProfileContainer .MoviePanel .dataMovie .movieRateAndMore .rateSize {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 1.5em;
        color: #cebfbf;
        margin: 0.5em; }
      .movieProfileContainer .MoviePanel .dataMovie .panelRentMovie {
        display: flex;
        flex-direction: row;
        width: 25em;
        height: 6em;
        align-items: center;
        margin: 1em; }
        .movieProfileContainer .MoviePanel .dataMovie .panelRentMovie .rent {
          width: 8em;
          height: 4em;
          border: 0.01em solid #111213;
          border-radius: 0.3em;
          display: flex;
          margin: 1em;
          justify-content: center;
          align-items: center;
          background-color: #e9bb3d; }
          .movieProfileContainer .MoviePanel .dataMovie .panelRentMovie .rent .rentSize {
            color: #1d1d1b;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 1.5em; }
        .movieProfileContainer .MoviePanel .dataMovie .panelRentMovie .MasRecomendaciones {
          width: 13em;
          height: 4em;
          border: 0.01em solid #111213;
          border-radius: 0.3em;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #52527a; }
          .movieProfileContainer .MoviePanel .dataMovie .panelRentMovie .MasRecomendaciones .rentSize {
            color: #FFF8DC;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 1.5em;
            margin: 1em; }
          .movieProfileContainer .MoviePanel .dataMovie .panelRentMovie .MasRecomendaciones .overview {
            border: 0.01em solid #b1b9c2;
            width: 20em;
            height: 15em;
            color: white; }
            .movieProfileContainer .MoviePanel .dataMovie .panelRentMovie .MasRecomendaciones .overview .sinopsis {
              font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
            .movieProfileContainer .MoviePanel .dataMovie .panelRentMovie .MasRecomendaciones .overview .overviewSize {
              font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
              font-size: 2em; }
    .movieProfileContainer .MoviePanel .MoviePoster {
      width: 28vw;
      height: 80vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .movieProfileContainer .MoviePanel .MoviePoster .poster {
        margin-top: 1em;
        width: 20em;
        height: 25em;
        border-radius: 0.5em; }

/*RESPONSIVE DESIGN*/
@media (min-width: 1440px) {
  #content {
    display: flex;
    margin-right: auto;
    margin-left: auto; } }

@media (min-width: 1201px) and (max-width: 1439px) {
  #content {
    width: 1200px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%; }
    #content .content-left {
      width: 50%; }
    #content .content-right {
      width: 50%; } }

@media all and (min-width: 1008px) and (max-width: 1200px) {
  #content {
    width: 1008px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%; }
    #content .content-left {
      width: 50%; }
    #content .content-right {
      width: 50%; } }

@media (min-width: 375px) and (max-width: 1007px) {
  #content {
    width: auto;
    display: flex;
    margin-top: 10%; }
    #content .content-left {
      width: 0%; }
    #content .content-right {
      width: 500px;
      margin-right: auto;
      margin-left: auto; } }
