/*BASE*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: NotoSans-Bold;
  src: url("../scss/fonts/ttf/NotoSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: NotoSans-BoldItalic;
  src: url("../scss/fonts/ttf/NotoSans-BoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: NotoSans-Italic;
  src: url("../scss/fonts/ttf/NotoSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: NotoSans-Regular;
  src: url("../scss/fonts/ttf/NotoSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/*UTILITIES*/
/*Colors*/
/**/
/*Gama de colores por definir - Yellows and Blues*/
/*Botones*/
/*Sizes*/
/*Margin and Padding*/
/*Porcentjes*/
/*Imagenes-Sizes*/
/*--------------------------------------------------*/
/*For Grid*/
#header.cell-1 > div {
  width: 100%; }

#footer.cell-1 > div {
  width: 100%; }

#header.cell-2 > div {
  width: 50%; }

#footer.cell-2 > div {
  width: 50%; }

#header.cell-3 > div {
  width: 33.33333%; }

#footer.cell-3 > div {
  width: 33.33333%; }

#header.cell-4 > div {
  width: 25%; }

#footer.cell-4 > div {
  width: 25%; }

#header.cell-5 > div {
  width: 20%; }

#footer.cell-5 > div {
  width: 20%; }

#header.cell-6 > div {
  width: 16.66667%; }

#footer.cell-6 > div {
  width: 16.66667%; }

/*--------------------------------------------------*/
/*Funciones*/
/*
Se utiliza

  .c-button {
  color: #FF0000;
  border: getBorderSize(2) solid #00FF00;
}

se transforma en

.c-button {
  color: #FF0000;
  border: 20px solid #00FF00;
}
*/
/*
.principal-buton{
    @include principal-button(nth($btnBlue,1), nth($btnBlue,2), nth($btnBlue,3));
}
*/
/*COMPONENTS*/
.vistaHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  height: 3em;
  border: 0.01em solid #4d4949;
  color: white;
  background-color: #222020;
  align-items: center; }
  .vistaHeader .logo {
    font-size: 1em;
    color: #aaa9a3;
    margin-left: 2em; }
  .vistaHeader .nav {
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: -0.5em;
    justify-content: space-evenly;
    color: #aaa9a3; }
    .vistaHeader .nav .search {
      all: unset;
      width: 8em;
      height: 1em;
      transition: 0.8s;
      border-radius: 2em; }
    .vistaHeader .nav .search:hover {
      all: unset;
      transition: 0.8s;
      color: #aaa9a3;
      width: 8em;
      height: 1em;
      border-radius: 2em; }
    .vistaHeader .nav .inicio {
      font-size: 1em;
      color: #aaa9a3;
      transition: 0.8s; }
    .vistaHeader .nav .inicio:hover {
      font-size: 1.2em;
      transition: 0.8s;
      color: #1698d4; }
    .vistaHeader .nav .Peliculas {
      font-size: 1em;
      color: #aaa9a3;
      transition: 0.8s; }
    .vistaHeader .nav .Peliculas:hover {
      font-size: 1.2em;
      transition: 0.8s;
      color: #1698d4; }
    .vistaHeader .nav .Series {
      font-size: 1em;
      color: #aaa9a3;
      transition: 0.8s; }
    .vistaHeader .nav .Series:hover {
      font-size: 1.2em;
      transition: 0.8s;
      color: #1698d4; }
    .vistaHeader .nav .userName {
      font-size: 1em;
      color: #aaa9a3;
      transition: 0.8s; }
    .vistaHeader .nav .userName:hover {
      font-size: 1.2em;
      transition: 0.8s;
      color: #1698d4; }

:root {
  --rojo: #E50914;
  --fondo: #141414; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: var(--fondo);
  font-family: 'Open Sans', sans-serif; }

.contenedor {
  width: 90%;
  margin: auto; }

header {
  padding: 30px 0; }

header .contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center; }

header .logotipo {
  font-family: 'Bebas Neue', cursive;
  font-weight: normal;
  color: var(--rojo);
  font-size: 40px; }

header nav a {
  color: #AAA;
  text-decoration: none;
  margin-right: 20px; }

header nav a:hover,
header nav a.activo {
  color: #FFF; }

/* ---- ----- ----- Pelicula Principal ----- ----- ----- */
.pelicula-principal {
  font-size: 16px;
  min-height: 40.62em;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("../img/1.png");
  background-position: center center;
  background-size: cover;
  margin-bottom: 3.12em;
  display: flex;
  align-items: end; }

.pelicula-principal .contenedor {
  margin: 0 auto;
  margin-bottom: 6.25em; }

.pelicula-principal .titulo {
  font-weight: 600;
  font-size: 3.12em;
  margin-bottom: 0.4em; }

.pelicula-principal .descripcion {
  font-weight: normal;
  font-size: 1em;
  line-height: 1.75em;
  max-width: 50%;
  margin-bottom: 1.25em; }

.pelicula-principal .boton {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 0.31em;
  padding: 0.93em 1.87em;
  color: #fff;
  margin-right: 1.25em;
  cursor: pointer;
  transition: .3s ease all;
  font-size: 1.12em; }

.pelicula-principal .boton:hover {
  background: #fff;
  color: #000; }

.pelicula-principal .boton i {
  margin-right: 1.25em; }

/* ---- ----- ----- Contenedor Titulo y Controles ----- ----- ----- */
.contenedor-titulo-controles {
  display: flex;
  justify-content: space-between;
  align-items: end; }

.contenedor-titulo-controles h3 {
  color: #fff;
  font-size: 30px; }

.contenedor-titulo-controles .indicadores button {
  background: #fff;
  height: 3px;
  width: 10px;
  cursor: pointer;
  border: none;
  margin-right: 2px; }

.contenedor-titulo-controles .indicadores button:hover,
.contenedor-titulo-controles .indicadores button.activo {
  background: red; }

/* ---- ----- ----- Contenedor Principal y Flechas ----- ----- ----- */
.peliculas-recomendadas {
  margin-bottom: 70px; }

.peliculas-recomendadas .contenedor-principal {
  display: flex;
  align-items: center;
  position: relative; }

.peliculas-recomendadas .contenedor-principal .flecha-izquierda,
.peliculas-recomendadas .contenedor-principal .flecha-derecha {
  position: absolute;
  border: none;
  background: rgba(0, 0, 0, 0.3);
  font-size: 40px;
  height: 50%;
  top: calc(50% - 25%);
  line-height: 40px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  z-index: 500;
  transition: .2s ease all; }

.peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover,
.peliculas-recomendadas .contenedor-principal .flecha-derecha:hover {
  background: rgba(0, 0, 0, 0.9); }

.peliculas-recomendadas .contenedor-principal .flecha-izquierda {
  left: 0; }

.peliculas-recomendadas .contenedor-principal .flecha-derecha {
  right: 0; }

/* ---- ----- ----- Carousel ----- ----- ----- */
.peliculas-recomendadas .contenedor-carousel {
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
  scroll-behavior: smooth; }

.peliculas-recomendadas .contenedor-carousel .carousel {
  display: flex;
  flex-wrap: nowrap; }

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula {
  min-width: 20%;
  transition: .3s ease all;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); }

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula.hover {
  transform: scale(1.2);
  transform-origin: center; }

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula img {
  width: 100%;
  vertical-align: top; }

/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 800px) {
  header .logotipo {
    margin-bottom: 10px;
    font-size: 30px; }
  header .contenedor {
    flex-direction: column;
    text-align: center; }
  .pelicula-principal {
    font-size: 14px; }
  .pelicula-principal .descripcion {
    max-width: 100%; }
  .peliculas-recomendadas .contenedor-carousel {
    overflow: visible; }
  .peliculas-recomendadas .contenedor-carousel .carousel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; }
  .peliculas-recomendadas .indicadores,
  .peliculas-recomendadas .flecha-izquierda,
  .peliculas-recomendadas .flecha-derecha {
    display: none; } }

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.movieCard {
  display: flex;
  margin: 0.5em;
  color: #e6dbdb;
  width: 8em;
  height: 10em;
  border: 0.1em solid blueviolet;
  border-radius: 1.5em;
  transition: 0.5s; }

/*VIEWS*/
.contenedorHome {
  width: 100vw;
  height: auto;
  background-color: #221c1c;
  display: flex;
  flex-direction: column; }

#myVideo {
  top: 5em;
  left: 0;
  width: 100vw;
  height: 70vh;
  object-fit: cover; }

.content {
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px; }

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  margin: 0.5em; }

#myBtn:hover {
  background: #ddd;
  color: black; }

.h2 {
  color: #aaa9a3;
  margin: 1em; }

.ultimas {
  margin-left: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  overflow-x: auto; }

.separador {
  border: 0.5px solid #3a3838;
  width: 70em;
  margin: 2em;
  margin-left: 6em; }

.populares {
  margin-left: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  overflow-x: auto; }

.recomendadas {
  margin-left: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  overflow-x: auto; }

.films-container .content-carousel {
  width: 100%;
  padding: 1.25em 0;
  /*hiden-> todo lo que sobresalga quiero que este 100% oculto*/
  overflow: hidden;
  /* overflow-x: scroll; */
  /*scroll con animacion*/
  scroll-behavior: smooth; }

.films-container .content-carousel .carousel {
  display: flex;
  flex-wrap: nowrap; }

.films-container .content-carousel .carousel .film {
  /* min-width: 20%; */
  min-width: 25%;
  transition: .3s ease all;
  box-shadow: 5px 5px 10px var(--transparent3); }

.films-container .content-carousel .carousel .film.hover {
  transform: scale(1.2);
  transform-origin: center; }

.films-container .content-carousel .carousel .film img {
  /* width: 100%; */
  vertical-align: top; }

.principal-movie .button {
  background: var(--transparent5);
  border: none;
  border-radius: 0.31em;
  /* padding: 0.93em 1.87em; */
  padding: 0.43em 1.8em;
  color: var(--white);
  /* margin-left: 1.25em; */
  margin-left: 0px;
  cursor: pointer;
  transition: 3s ease all;
  /* font-size: 1.12em; */
  font-size: 1em; }

.principal-movie .button:hover {
  background: var(--white);
  color: var(--black); }

.principal-movie .button i {
  margin-right: 1.25em; }

/*content-title-controls*/
.content-title-controls {
  /* display: flex; */
  justify-content: space-between;
  align-items: end; }

.content-title-controls h3 {
  color: var(--white);
  font-size: 1.87em; }

.content-title-controls .indicators button {
  background: white;
  height: 0.18em;
  width: 0.62em;
  cursor: pointer;
  border: none;
  margin-right: 0.12em; }

.content-title-controls .indicators button:hover,
.content-title-controls .indicators button.active {
  background: var(--rojo); }
