.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.movieCard {
  display: flex;
  margin: 0.5em;
  color: #e6dbdb;
  width: 15em;
  height: 8em;
  border: 0.1em solid blueviolet;
  border-radius: 0em;
  transition: 0.5s; }
