.component-header-user{
    font-family: $font-Questrial-Regular;
    width: $q-xl - $mp-k;
    margin-left: auto;
    margin-right: auto;
    height: 105px;
    display: flex;
    color: nth($principal-color, 1);
    position: relative;
    .component-header-logo{
        position: absolute;
        font-size: $size-s;
        width: $per-5;
        margin-left: $size-u;
        bottom: $mp-0;
        cursor: pointer;
        .logo-link{
            text-decoration: none;
            color: white;
            display: flex;
            .user-logo-first{
                color: nth($fontColor, 3);
            }
            .user-logo-second{
                font-weight: bold;
                padding-left: $mp-e;
            }
        }
    }
    .component-header-menu{
        width: $per-5;
        .component-header-menu-ul{
            display: flex;
            position: absolute;
            right: $size-u;
            bottom: -50px;
            font-size: $size-l;
            .component-header-menu-li{
                margin-right: $mp-i;
                cursor: pointer;
                .component-header-menu-a{
                    text-decoration: none;
                    color: nth($principal-color, 1);
                }
            }
            .component-header-menu-li-name{
                color: nth($fontColor, 3);
                cursor: none;
            }
            .component-header-menu-li-icon{
                color: nth($btnRed, 1);
            }
            .component-header-menu-li-img{
                bottom: 52px;
                position: relative;
                .img-user{
                    width: 80px;
                    border-radius: 50%;
                }
            }
        }
    }
}