.contenedorHome{

    width: 100vw;
    height: auto;
    background-color: rgb(34, 28, 28);

    display: flex;
    flex-direction: column;
       
   
    }
 
 #myVideo {
   
        // position: fixed;
         all:unset;
         top: 5em;
         left: 0;
         width: 100vw;
         height: 82vh;
         object-fit: cover;
         z-index: 0;
      
     
  }
  

  .content {
    //position: fixed;
    z-index: 1;
    margin-top: -7em;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
  
 
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 0.5em;
    background: rgb(243, 240, 240);
    color: rgb(10, 10, 10);
    cursor: pointer;
    margin: 0.5em;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }
  .h2{
      color: rgb(170, 169, 163) ;
      margin:1em;
      height: 1em;
  }

  .ultimas{
    margin-left: 1.5em;  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    

  }

  .separador{
      border:0.5px solid rgb(58, 56, 56);
      width: 70em;
      margin-left:6em;
  }
  .populares{
      margin-left: 1.5em;  
      height: 8em;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      overflow-x: auto;
  }
  .recomendadas{
    margin-left: 1.5em;  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
}
  
    



