.contenedor{
    width: 100vw;
    height: auto;
    background-color: rgb(17, 14, 14) ;
    .trailer {
        .video{
            // position: fixed;
             top: 5em;
             left: 0;
             width: 100vw;
             height: 70vh;
             object-fit: cover;
          }
    }
    .h1{
        justify-self: flex-start;
    }
    .ultimas{
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 12em;
        overflow: auto;
    }
    .populares{
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 12em;
        overflow: auto;
     }
    .relacionadas{
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 12em;
        overflow: auto;
     }
}

 
 
 

