.header-movies{
    width: 100%;
    height: 15px;
    background-color: transparent;
    position: absolute !important;
    z-index: 1;
    .header-menu-movies{
        .header-menu-ul{
            .header-menu-li{
                .search{
                    width: 250px;
                    border-radius: 10px;
                    margin-right: 29px;
                    outline: none;
                    border: none;
                }
            }
        }
    }
}