.vistaHeader{
    width:100vw;
    height: 5em;
    background-color: rgb(44, 42, 42);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo{
    margin-left: 2em;
    width: 12em;
    height: 4em;
    border-radius: 2em;
    //background-image: url('../../img/Logo.png');
}
.nav{
   
    margin-left: 32em;
    margin-top: 1em;
    width: 38em;
    height: 2.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  //  justify-content: center;
    align-items: center;
    color:white
}  

.inicio{
    margin: 1em;
    transition: 0.5s;
}
.inicio:hover{
  
    color: rgb(44, 191, 228);
    transition: 0.5s;
}
.search{
    margin: 1em;
    all:unset;
    border: 0.2em solid rgb(44, 191, 228);
    height: 2em;
    border-radius: 2em;
    background-color: white;
    transition: 1s;
}
.search:hover{
    background-color: rgb(195, 203, 209);
    border: 0.2em solid rgb(21, 33, 36);
    transition: 1s;
}
.directorio{
    margin: 1em;
}
.directorio:hover{
  
    color: rgb(44, 191, 228);
    transition: 0.5s;
}
    
.login {
    margin: 1em;
    border-radius: 2em;
    border: 0.2px black solid;
    width: 6em;
    height: 2em;
    background-color: rgb(44, 191, 228);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login:hover{
     border: 0.2em solid rgb(21, 33, 36);
     background-color: rgb(195, 203, 209);
     color: white;
     transition: 0.5s;
}
