.series-container{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;

      .imagen-principal{
         width: 100vh;
         height: 30em;   
     }
       .h1-series{
         color: blanchedalmond;
         font-size: 2em;
     }
    


          
}
 
