<<<<<<< HEAD
.series-container{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;

      .imagen-principal{
         width: 100vh;
         height: 30em;   
     }
       .h1-series{
         color: blanchedalmond;
         font-size: 2em;
     }
    


          
}
 
=======
.component-series{
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .video-player{
        margin-top: 43em;
        width: 100%;
        height: 30em;
        position: absolute;
        /* justify-content: center; */
        margin-left: 77em;
        margin-right: auto;
    }
}
>>>>>>> 0a597b1953c26bf764976f87c012644f8e2a629b
