.movie{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

}
.movieStyelOne{
   
          display: flex;
          margin:0.5em;
          color: rgb(230, 219, 219);
          width: 9em;
          height: 13em;
          border: 0.1em solid blueviolet;
          border-radius: 0em;
          transition: 0.5s;

}
.movieStyelDos{

          display: flex;
          margin:0.8em;
          color: rgb(230, 219, 219);
          width: 15em;
          height: 22em;
          border: 0.1em solid blueviolet;
          border-radius: 0em;
          transition: 0.5s;

}
