.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

}
.movieCard{
   
          display: flex;
          margin:0.5em;
          color: rgb(230, 219, 219);
          width: 8em;
          height: 10em;
          border: 0.1em solid blueviolet;
          border-radius: 1.5em;
          transition: 0.5s;

}
