.movieProfileContainer{

    width: 100vw;
    height: 100vh;
    background-color: nth($dark,1);

      .MoviePanel{
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          justify-content: space-evenly;
       

        .dataMovie{
          width: 55vw;
          height: 80vh;
          //border: 0.01em solid white;
          

             .movieTtile{

                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                color: rgb(230, 222, 222);
                margin: 3em;

                .titleSize{
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    font-size: 3em;
                }
                
             }
             .movieRateAndMore{
                .rateSize{
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    font-size: 1.5em;
                    color: rgb(206, 191, 191);
                    margin: 0.5em;
                } 



             }
             .panelRentMovie{
                 display: flex;
                 flex-direction: row;
                 width: 25em;
                 height: 6em;
                 //border: 0.01em solid white;
                 align-items: center;
                 margin: 1em;
                 

                 .rent{
                     width: 8em;
                     height: 4em;
                     border: 0.01em solid rgb(17, 18, 19);
                     border-radius: 0.3em;
                     display: flex;
                     margin: 1em;
                     justify-content: center;
                     align-items: center;
                     background-color: rgb(233, 187, 61);
                       .rentSize{
                           color: rgb(29, 29, 27);
                           font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                           font-size: 1.5em;
                         
                       }

                 }
                 .MasRecomendaciones{
                    width: 13em;
                    height: 4em;
                    border: 0.01em solid rgb(17, 18, 19);
                    border-radius: 0.3em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: rgb(82, 82, 122);
                      .rentSize{
                          
                          color: nth($brown,1 );
                          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                          font-size: 1.5em;
                          margin: 1em;
                          
                        
                      }

                   .overview{
                    border: 0.01em solid rgb(177, 185, 194);
                    width: 20em;
                    height: 15em;
                    color: white;
                      .sinopsis{
                        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                        font-size: 1.5em;
                      }
                 }   
                 }
                 
             }


      }
        .MoviePoster{
          width: 28vw;
          height: 80vh;
         // border: 0.01em solid white;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .poster{
            margin-top: 1em;
            width: 20em;
            height: 25em;
            border-radius: 0.5em;
          }
      }

      }
    
    
}
