.component-profile {
    // display: flex;
    // flex-direction: column;
    color: white;
    font-family: $font-Questrial-Regular;
    position: relative;
    .content-favourites {
        margin-top: 150px;
        width: 1440px;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        .content-favourites-title {
            font-size: 26px;
                margin-left: 36px;
            .historial {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }
        }
    
        .content-favourites-container {
            display: flex;
            flex-direction: row;
            margin-left: 50px;
            margin-top: 30px;
            .favourite-container {
                position: relative;
                display: flex;
                flex-direction: column;
                width: 15em;
                height: 22em;
                color: white;
                margin-left: $em-a;
                .title-movie {
                    text-align: center;
                    font-size: 20px;
                    height: 44px;
                    margin-top: 10px;
                }
                .favourite-img {
                    width: $per-10;
                    height: $per-10;
                    overflow: hidden;
                    margin-top: 10px;
                }
                .button-delete {
                    cursor: pointer;
                    font-size: 24px;
                    position: absolute;
                    bottom: 62px;
                    right: 24px;
                    color: red;
                    font-weight: bold;
                }
            }
            
        }
    }
}